html,body
    height 100%

body, h1,h2,h3,h4,h5,h6,p
  font-family lato, sans-serif

img
  max-width 100%

.bg-faded
  background-color #ffffff !important

// INDEX
.index
  //
  .post
    
    .background-image
      display block
      height 100%
      width 100%
      background-color black
      opacity .5
    h1.display-4.post-title
      padding 1em 0em
      color white

// POST
.post
  h1.post-title
    margin 2em 0em 0em
    font-weight 600
    color black

.post-content
  margin 2em 0em
  p
    font-size 1.3em
    line-height 1.6em
    margin-bottom 2em

.featured-image
  margin 3em 0em

.navbar
  margin 2em 0em


// Author
.author-info
  h6.author-label
    font-size 0.9em
  h4.author-name
    font-size 1.4em
    line-height 1em
    margin 0.5em 0em
  p.author-bio
    font-size 0.9em
    line-height 1.4em
