extends /layouts/_default

block content
  .index
    each post in ["Shopping in the Borne area of Barcelona with four hundred dollars", "And this is the age of nightwatches","Shopping in the Borne area of Barcelona with four hundred dollars", "And this is the age of nightwatches"]
      a(href="post")
          .post(style="background:url('../img/coffeeshopcreatives.jpg') center center;background-size:cover;")
            .background-image
              .container
                .row.clearfix
                  .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
                      h1.display-4.post-title #{post}
