extends ../layouts/_default

block content
  .post
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-8.col-lg-offset-2
          h1.display-4.post-title.m-b-lg Shopping in the Borne area of Barcelona with four hundred dollars

    img.featured-image(src="../img/coffeeshopcreatives.jpg")

    .post-content
      .container
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-2.col-md-offset-0
            include ../partials/author.jade
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-1
            p SEO is a marketing tactic that costs five percent of overall budget but brings in more than 20 percent of revenue for many Fortune 500 companies, and yet very few of them prioritize it. Instead, while slowly changing, too many CMOS still favor paid search, which costs 20 percent and brings in… 20 percent. In search, businesses need to shift priorities. Now.
            p Link volume is one of the most powerful signals search engines use to rank websites. There’s a way to use links to generate better search results, but too many marketers rely on traditional (or even black hat) tactics that just don’t work anymore.
